# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# vercel
.vercel

# env
.env
.env.local
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo
